<div class="relative isolate overflow-hidden bg-gray-900 py-16 sm:py-24 flex items-start justify-center">
  <img src="assets/img/coffeeB.jpg" alt="" class="absolute inset-0 -z-10 h-full w-full object-cover">

  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="text-center max-w-2xl">
      <h4 class="font-mono text-4xl font-bold tracking-tight text-black sm:text-6xl">Start your day with our coffee</h4>
      <p class="font-mono mt-6 text-lg leading-8 text-black">At [Your Coffee Shop Name], we believe that every cup of coffee tells a story. From the carefully selected beans to the perfectly timed brew, we’re dedicated to bringing you the richest flavors and most memorable experiences.</p>
    </div>
  </div>
</div>
<section class=" bg-white body-font mt-10">
  <div class="container px-5 py-5 mx-auto">
    <div class="flex flex-col ">
      <div class="flex flex-wrap  flex-col py-2 mb-8">
        <h1 class=" text-amber-900 font-serif font-bold title-font text-4xl mb-2  text-center">Enjoy a new blend of coffee Style </h1>
        <p class=" leading-relaxed text-base text-center text-gray-500">Street art subway tile salvia four dollar toast bitters selfies quinoa yuccie synth meditation.</p>
      </div>
    </div>
    <div class="flex flex-wrap justify-center  sm:-m-4 -mx-4 -mb-10 -mt-4">
      <div class="mx-2 md:w-1/5 sm:w-1/2 sm:mb-0 mb-6 bg-amber-50 border-orange-300 border">
        <div class=" h-52 overflow-hidden ">
          <img alt="content" class="object-cover object-center h-full w-full" src="assets/img/coffee1.jpg">
        </div>
        <h2 class="text-xl font-medium title-font text-center text-amber-900 mt-2">Shooting Stars</h2>
        <p class="text-base leading-relaxed text-center  ">Swag shoindxgoitch literally </p>
        <h3 class="text-xl font-medium title-font text-center text-amber-900 mt-1"> 9.50 $</h3>
        <div class="flex justify-center mt-2 pb -mb-3">
          <a class="bg-orange-300 px-3 rounded-full  text-amber-900 ">Learn More</a>
        </div>
      </div>
      <div class="mx-2 md:w-1/5 sm:w-1/2 sm:mb-0 mb-6 bg-amber-50 border-orange-300 border">
        <div class=" h-52 overflow-hidden ">
          <img alt="content" class="object-cover object-center h-full w-full" src="assets/img/coffee2.jpg">
        </div>
        <h2 class="text-xl font-medium title-font text-center text-amber-900 mt-2">Shooting Stars</h2>
        <p class="text-base leading-relaxed text-center  ">Swag shoindxgoitch literally </p>
        <h3 class="text-xl font-medium title-font text-center text-amber-900 mt-1"> 9.50 $</h3>
        <div class="flex justify-center mt-3 pb -mb-3">
          <a class="bg-orange-300 px-3 rounded-full  text-amber-900 ">Learn More</a>
        </div>
      </div>
      <div class="mx-2 md:w-1/5 sm:w-1/2 sm:mb-0 mb-6 bg-amber-50 border-orange-300 border">
        <div class=" h-52 overflow-hidden ">
          <img alt="content" class="object-cover object-center h-full w-full" src="assets/img/coffee3.jpg">
        </div>
        <h2 class="text-xl font-medium title-font text-center text-amber-900 mt-2">Shooting Stars</h2>
        <p class="text-base leading-relaxed text-center  ">Swag shoindxgoitch literally </p>
        <h3 class="text-xl font-medium title-font text-center text-amber-900 mt-1"> 9.50 $</h3>
        <div class="flex justify-center mt-3 pb -mb-3">
          <a class="bg-orange-300 px-3 rounded-full  text-amber-900 ">Learn More</a>
        </div>
      </div>
      <div class="mx-2 md:w-1/5 sm:w-1/2 sm:mb-0 mb-6 bg-amber-50 border-orange-300 border">
        <div class=" h-52 overflow-hidden ">
          <img alt="content" class="object-cover object-center h-full w-full" src="assets/img/coffee4.avif">
        </div>
        <h2 class="text-xl font-medium title-font text-center text-amber-900 mt-2">Shooting Stars</h2>
        <p class="text-base leading-relaxed text-center  ">Swag shoindxgoitch literally </p>
        <h3 class="text-xl font-medium title-font text-center text-amber-900 mt-1"> 9.50 $</h3>
        <div class="flex justify-center mt-3 pb -mb-3">
          <a class="bg-orange-300 px-3 rounded-full  text-amber-900 ">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class=" bg-white body-font mt-16">
  <div class="container px-5 py-5 mx-auto">
    <div class="flex flex-col ">
      <div class="flex flex-wrap  flex-col py-2 mb-8">
        <h1 class=" text-amber-900 font-serif font-bold title-font text-4xl mb-2  text-center">Enjoy a new blend of coffee Style </h1>
        <p class=" leading-relaxed text-base text-center text-gray-500">Street art subway tile salvia four dollar toast bitters selfies quinoa yuccie synth meditation.</p>
      </div>
    </div>
    <div class="flex flex-wrap justify-center  sm:-m-4 -mx-4 -mb-10 -mt-4">
      <div class="mx-2 md:w-1/5 sm:w-1/2 sm:mb-0 mb-6 bg-amber-50 border-orange-300 border pb-4">
        <div class="h-28 flex justify-center items-center overflow-hidden py-5"> <!-- Adjusted height and centering -->
          <img alt="content" class="object-cover object-center h-full w-auto" src="assets/img/beans.svg"> <!-- Updated width to auto for proper scaling -->
        </div>
        <h1 class="text-xl font-bold title-font text-center text-amber-900 my-2">Shooting Stars</h1>
        <p class=" text-center px-4 text-gray-500">Swag shoindxgoitch literally meditation</p>
      </div>
      <div class="mx-2 md:w-1/5 sm:w-1/2 sm:mb-0 mb-6 bg-amber-50 border-orange-300 border pb-4">
        <div class="h-28 flex justify-center items-center overflow-hidden py-5"> <!-- Adjusted height and centering -->
          <img alt="content" class="object-cover object-center h-full w-auto" src="assets/img/medal.svg"> <!-- Updated width to auto for proper scaling -->
        </div>
        <h1 class="text-xl font-bold title-font text-center text-amber-900 my-2">Shooting Stars</h1>
        <p class=" text-center px-4 text-gray-500">Swag shoindxgoitch literally meditation</p>
      </div>
      <div class="mx-2 md:w-1/5 sm:w-1/2 sm:mb-0 mb-6 bg-amber-50 border-orange-300 border pb-4">
        <div class="h-28 flex justify-center items-center overflow-hidden py-5"> <!-- Adjusted height and centering -->
          <img alt="content" class="object-cover object-center h-full w-auto" src="assets/img/cup.svg"> <!-- Updated width to auto for proper scaling -->
        </div>
        <h1 class="text-xl font-bold title-font text-center text-amber-900 my-2">Shooting Stars</h1>
        <p class=" text-center px-4 text-gray-500">Swag shoindxgoitch literally meditation</p>
      </div>
      <div class="mx-2 md:w-1/5 sm:w-1/2 sm:mb-0 mb-6 bg-amber-50 border-orange-300 border pb-4">
        <div class="h-28 flex justify-center items-center overflow-hidden py-5"> <!-- Adjusted height and centering -->
          <img alt="content" class="object-cover object-center h-full w-auto" src="assets/img/price.svg"> <!-- Updated width to auto for proper scaling -->
        </div>
        <h1 class="text-xl font-bold title-font text-center text-amber-900 my-2">Shooting Stars</h1>
        <p class=" text-center px-4 text-gray-500">Swag shoindxgoitch literally meditation</p>
      </div>
    </div>
    <div class="flex flex-col mt-10">
      <div class="flex flex-wrap  flex-col ">
        <p class=" leading-relaxed text-base text-center text-gray-500">Street art subway tile salvia four dollar toast bitters selfies quinoa yuccie synth meditation.</p>
        <h1 class=" text-amber-900 font-serif font-bold title-font text-xl   text-center">Enjoy a new blend of coffee Style </h1>
        <div class="flex justify-center mt-3">
          <a class="bg-orange-300 px-5 py-1 rounded-full text-lg font-bold text-amber-900 bg-am">Join Us</a>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="relative isolate overflow-hidden bg-amber-900 py-8 sm:py-8 flex items-start justify-center">
  <img src="assets/img/banner3.jpg" alt="" class="absolute inset-0 -z-10 h-full w-full object-cover opacity-40">

  <div class="mx-auto max-w-7xl px-6 lg:px-8 grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
    <!-- Text Content -->
    <div class="text-left max-w-xl  ps-12">
      <h4 class="text-2xl font-bold tracking-tight text-white sm:text-4xl">Start your day with <br> our coffee</h4>
      <p class="mt-6 text-lg leading-8 text-white">Carefully selected beans to the perfectly timed brew, we’re dedicated to bringing you the richest flavors and most memorable experiences.</p>
      <div class="flex justify-self-start mt-5">
        <a class="bg-amber-300 px-5 py-1 rounded-full text-lg font-bold text-amber-900 bg-am">Join Us</a>
      </div>
    </div>

    <!-- Image Content -->
    <div class="flex justify-center">
      <img src="assets/img/coffeeSvg.png" alt="Coffee" class="h-80 w-auto object-cover rounded-lg">
    </div>
  </div>

</div>

<section class=" bg-white body-font mt-10">
  <div class="container px-5 py-5 mx-auto">
    <div class="flex flex-col ">
      <div class="flex flex-wrap  flex-col py-2 mb-8">
        <h1 class=" text-amber-900 font-serif font-bold title-font text-4xl mb-2  text-center">Enjoy a new blend of coffee Style </h1>
        <p class=" leading-relaxed text-base text-center text-gray-500">Street art subway tile salvia four dollar toast bitters selfies quinoa yuccie synth meditation.</p>
      </div>
    </div>
    <div class="flex flex-wrap justify-center  sm:-m-4 -mx-4 -mb-10 -mt-4">

    </div>
  </div>
</section>
